language: node_js
node_js:
  - "6.0"
  - "5.0"
  - "4.0"

install:
  - npm install
after_success:
  - npm test
  - npm run codeclimate

addons:
    code_climate:
        repo_token: f7ebf0c38a60929b9de1e000efd4bd1c652de39e218e8e439532b82ac034ca7b
